.foter {
    display: flex;
    padding: 1rem 0;
    background: var(--dark-blue);
}

.confooter {
    display: flex;
    margin: auto;
    align-items: center;
    width: 70%;
}

.text {
    margin: 0 2rem;
    color: var(--burn-yellow);
}
/* .redes{
    padding: 0.7rem;
} */