/* .foote{
    display: flex;
    background: var(--dark-blue);
    padding: 1rem 0;
} */
/* .containerfooter{
    display: flex;
    margin: auto;
    align-items: center;
    width: 70%;
} */
/* .textcopy{
    margin: 0 2rem;
    color: var(--burn-yellow);
} */
.redes{
    padding: 0.7rem;
}
